<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <title>PerturbaçõesCarrisMetropolitana</title>
</head>
<body>
    <h1>Welcome to the Alerts Application</h1>

    <!-- Adicionar talvez uma search bar que permita procurar o autocarro que pretendemos saber se há erros ou 
    não -->
    <p><a href="/run-script">Run Script</a> to view alerts.</p>
</body>
</html>

